<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Attiva nuovo servizio</div>

        <div class="panel-body row">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label>Tipo servizio:</label>
                        <select ng-model="newservice.product_id" class="form-control">
                            <option ng-repeat="product in products" value="{{product.id}}">{{product.title}}</option>
                        </select>
                        <div ng-show="errors.product_id">{{errors.product_id[0]}}</div>
                    </div>

                    <div class="form-group">
                        <label>Nome:</label>
                        <input class="form-control" ng-model="newservice.name">
                        <div ng-show="errors.name">{{errors.name[0]}}</div>
                        <div ng-show="errors.auth">{{errors.auth}}</div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" ng-click="save()">Attiva</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
