            <table class="table ticket-table" ng-show="tickets.length">
                <tr>
                    <th>ID</th>
                    <th>Reparto</th>
                    <th>Titolo</th>
                    <th>Servizio</th>
                    <th>Operatore</th>
                    <th>Priorità</th>
                    <th>Stato</th>
                    <th>Data</th>
                    <th></th>
                </tr>

                <tr ng-repeat="ticket in tickets" class="{{ticket.status}}">
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.department}}</td>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.service_name}}</td>
                    <td ng-show="ticket.technician_id">OP#{{ticket.technician_id}}</td>
                    <td ng-hide="ticket.technician_id">N/A</td>
                    <td>{{ticket.priority}}</td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.created_at | dateTimeEU}}</td>
                    <td class="text-right"><a href="#/ticket/{{ticket.id}}" class="btn btn-xs btn-success">dettagli</a></td>
                </tr>
            </table>
