            <table class="table" ng-show="tickets.length">
                <tr>
                    <th>ID</th>
                    <th>Titolo</th>
                    <th>Servizio</th>
                    <th>Prodotto</th>
                    <th>Data</th>
                    <th>Stato</th>
                    <th></th>
                </tr>

                <tr ng-repeat="ticket in tickets">
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.service_name}}</td>
                    <td>{{ticket.product_title}}</td>
                    <td>{{ticket.created_at | dateTimeEU}}</td>
                    <td>{{ticket.status}}</td>
                    <td class="text-right"><a href="#/ticket/{{ticket.id}}" class="btn btn-xs btn-success">dettagli</a></td>
                </tr>
            </table>
