<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    Operatori
                </div>
                <div class="col-md-6 text-right">
                    <a href="#/newtechnician" class="btn btn-success btn-xs">Inserisci nuovo</a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Cod</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ticket aperti</th>
                    <th>Ticket totali</th>
                    <th>Data registrazione</th>
                    <th></th>
                </tr>

                <tr ng-repeat="user in users">
                    <td>OP#{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.tickets_count}}</td>
                    <td>{{user.tickets_total_count}}</td>
                    <td>{{user.created_at | dateTimeEU}}</td>
                    <td class="text-right"><a href="#/technician/{{user.id}}" class="btn btn-xs btn-primary">gestisci</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

