<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Dettagli ticket #{{ticket.id}}</div>

        <div class="panel-body">
            <h4>Dettagli generali</h4>
            <ul>
                <li><b>Data creazione:</b> {{ticket.created_at | dateTimeEU}}</li>
                <li><b>Inserito da:</b> {{ticket.user.name}}</li>
                <li><b>Priorità:</b> {{ticket.priority}}</li>
                <li><b>Dipartimento:</b> {{ticket.department.name}}</li>
                <li><b>Servizio:</b> {{ticket.service.name}}</li>
                <li><b>Prodotto:</b> {{ticket.service.product.title}}</li>
                <li ng-show="ticket.technician_id"><b>Operatore:</b> {{ticket.technician.name}} &lt;{{ticket.technician.email}}&gt;</li>
                <li ng-hide="ticket.technician_id"><b>Operatore:</b> <i>non assegnato</i></li>
            </ul>

            <div class="row">
                <div class="form-group form-inline col-md-6" ng-hide="ticket.status == 'closed' || role == 'user' || (role == 'technician' && ticket.technician_id)">
                    <label>Assegna nuovo operatore</label><br>
                    <select ng-model="newtechnician" class="form-control" style="width: 300px">
                        <option value="">- seleziona -</option>
                        <option ng-show="role == 'technician'" value="me">assegna a me</option>
                        <option ng-repeat="technician in technicians" value="{{technician.id}}">{{technician.name}}</option>
                    </select>
                    <button ng-show="newtechnician" ng-click="assign()" class="btn btn-success btn-sm">conferma</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-inline col-md-6" ng-hide="role == 'user' || ticket.status == 'closed' || ticket.technician_id != App.user_id">
                    <label>Modifica priorità</label><br>
                    <select ng-model="newpriority" class="form-control" style="width: 300px">
                        <option value="normal">Normale</option>
                        <option value="urgent">Urgente</option>
                        <option value="critical">Critica</option>
                    </select>
                    <button ng-show="priority_changed && newpriority != ticket.priority" ng-click="save_priority()" class="btn btn-success btn-sm">conferma</button>
                </div>
            </div>

            <h4>Eventi</h4>
            <ul class="list-unstyled ticket-events">
                <li ng-repeat="event in ticket.events">
                    <div class="title">{{event.created_at | dateTimeEU}} - {{event.actor.name}} &lt;{{event.actor.email}}&gt;</div>
                    <div ng-include="event.action"></div>
                </li>
            </ul>

            <div class="text-center">
                <div ng-show="comment_open">
                    <div class="form-group">
                        <textarea ng-model="newcomment" class="form-control"></textarea>
                    </div>

                    <button class="btn btn-success" ng-click="comment_save()">Salva</button>
                    <button class="btn btn-danger" ng-click="comment_close()">Annulla</button>
                </div>

                <div ng-show="close_box">
                    <div class="form-group">
                        <textarea ng-model="closemessage" class="form-control"></textarea>
                    </div>

                    <button class="btn btn-success" ng-click="close_confirm()">Conferma chiusura</button>
                    <button class="btn btn-danger" ng-click="close_cancel()">Annulla</button>
                </div>

                <div ng-hide="comment_open || close_box || ticket.status == 'closed'">
                    <button class="btn btn-primary" ng-click="comment()">Aggiungi commento</button>
                    <button ng-show="role == 'admin' || ticket.technician_id == App.user_id" class="btn btn-danger" ng-click="close()">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="create">
<p><b>Creazione ticket</b></p>
</script>

<script type="text/ng-template" id="comment">
<p><b>Nuovo commento:</b></p>
<div style="white-space: pre-line">{{event.value.description}}</div>
</script>

<script type="text/ng-template" id="priority">
<p><b>Cambio priorità:</b> la priorità è stata modificata da <b>{{event.value.old}}</b> a <b>{{event.value.new}}</b></p>
</script>

<script type="text/ng-template" id="close">
<p><b>Il ticket è stato chiuso con il seguente messaggio:</b></p>
<div style="white-space: pre-line">{{event.value.message}}</div>
</script>

<script type="text/ng-template" id="assignee">
<p><b>Cambio operatore:</b> il ticket è stato assegnato all'operatore con codice OP#{{event.value.new}}</p>
</script>
