<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">Dettagli ticket #{{ticket.id}}</div>

        <div class="panel-body">
            <h4>Dettagli generali</h4>
            <ul>
                <li><b>Data creazione:</b> {{ticket.created_at | dateTimeEU}}</li>
                <li><b>Inserito da:</b> {{ticket.user.name}}</li>
                <li><b>Dipartimento:</b> {{ticket.department.name}}</li>
                <li><b>Servizio:</b> {{ticket.service.name}}</li>
                <li><b>Prodotto:</b> {{ticket.service.product.title}}</li>
            </ul>

            <h4>Eventi</h4>
            <ul>
                <li ng-repeat="event in ticket.events">
                <div ng-include="event.action"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="create">
L'utente {{event.actor}} ha creato il ticket in data {{ticket.created_at | dateTimeEU}}
</script>
<script type="text/ng-template" id="comment">
L'utente {{ticket.user.name}} ha aggiunto un commento:<br>

</script>
