<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Dettagli utente</div>

        <div class="panel-body">
            <h4>Dettagli generali</h4>
            <ul>
                <li><b>Codice:</b> USR#{{user.id}}</li>
                <li><b>Data registrazione:</b> {{user.created_at | dateTimeEU}}</li>
                <li><b>Nome:</b> {{user.name}}</li>
                <li><b>Email:</b> {{user.email}}</li>
            </ul>

            <h4>Servizi attivi</h4>
            <ng-include src="'views/partial-servicetable.html'"></ng-include>

            <h4>Elenco ticket</h4>
            <ng-include src="'views/partial-tickettable.html'"></ng-include>
        </div>
    </div>
</div>
