<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Elenco utenti</div>

        <div class="panel-body">
            <div class="form-group form-inline">
                <input type="text" class="form-control" ng-model="searchuser" placeholder="Cerca per codice, nome o email" style="width: 300px;">
                <button class="btn btn-success" ng-click="search()">Cerca</button>
                <button class="btn btn-danger" ng-click="reset()">Resetta</button>
            </div>

            <table class="table">
                <tr>
                    <th>Cod</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Servizi attivati</th>
                    <th>Ticket aperti</th>
                    <th>Data registrazione</th>
                    <th></th>
                </tr>

                <tr ng-repeat="user in users">
                    <td>USR#{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.services_count}}</td>
                    <td>{{user.tickets_count}}</td>
                    <td>{{user.created_at | dateTimeEU}}</td>
                    <td class="text-right"><a href="/#user/{{user.id}}" class="btn btn-xs btn-primary">gestisci</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
